.details {
  background-color: rgb(49, 49, 49);
  min-height: 100vh;
  width: 100vw;
  color: white;
}
.details > div:first-child {
  padding: 0.5rem 1rem;
}
.details .details-home {
  border: none;
  background-color: rgb(49, 49, 49);
  color: whitesmoke;
}
.details .details-home:hover {
  color: gold;
}
.details .description {
  padding: 1rem;
}
.description > div {
  margin-bottom: 1rem;
}
.description button {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}
.description button:hover {
  border-color: red;
}
.description > div span:first-child {
  color: whitesmoke;
}
.details .youtubeTrailer {
  width: 100%;
}
.details .youtubeTrailer iframe {
  width: 100%;
  height: 60vh;
  border: 0.1rem solid gold;
}

@media screen and (max-width: 480px) {
  .details .youtubeTrailer iframe {
    height: 40vh;
  }
}
