.spinner-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  border: 0.2rem solid;
  border-top: 0.2rem solid transparent;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 1s linear infinite;
  margin-right: 1rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
